

<div class="text-foreground font-sans py-2 px-6 md:px-24 overflow-hidden">

  <section
    class="w-full flex flex-col gap-6 mt-12 md:mt-36 header animate-fadeIn"
  >

    <!-- Tagline -->
    <p
      class="text-accent uppercase tracking-[0.35em] text-xs md:text-sm font-semibold animate-slideUp"
    >
      {{ 'home.tagline' | translate }}
    </p>

    <!-- Greeting -->
    <h2
      class="text-3xl md:text-5xl font-bold leading-tight animate-slideUp delay-100"
    >
      {{ 'home.greeting' | translate }}

      <span
        class="text-accent px-4 py-1 duration-300"
      >
        {{ 'home.name' | translate }}
      </span>
    </h2>


    <h1
  class="text-md sm:text-2xl md:text-6xl
  font-extrabold leading-[1.4]
  break-words
  max-w-4xl

  animate-slideUp delay-200"
>
  {{ 'home.headline' | translate }}
</h1> 

<!-- Tech Stack -->
<!-- Tech Stack -->
<div
  class="mt-4 flex flex-wrap justify-center lg:justify-start gap-3 animate-slideUp delay-300">

  <span class="rounded-full border border-accent/40 bg-accent/10 px-4 py-2 text-sm text-accent">
    Angular
  </span>

  <span class="rounded-full border border-accent/40 bg-accent/10 px-4 py-2 text-sm text-accent">
    React
  </span>
  <span class="rounded-full border border-accent/40 bg-accent/10 px-4 py-2 text-sm text-accent">
    JavaScript
  </span>

   <span class="rounded-full border border-accent/40 bg-accent/10 px-4 py-2 text-sm text-accent">
    TypeScript
  </span>

  

</div>

    <!-- Description -->
    <p
      class=" my-4 text-base sm:text-lg leading-tight">
      {{ 'home.description' | translate }}
    </p>



    <!-- Buttons -->
    <div
      class="flex flex-wrap gap-4 animate-slideUp delay-500"
    >

     <a
  routerLink="/projects"
  class="group inline-flex items-center justify-center
  rounded-full bg-accent px-7 py-3
  text-black font-semibold
  transition-all duration-300
  hover:scale-105">

  {{ 'home.ctaProjects' | translate }}

  <i
    class="fa-solid fa-arrow-right ms-2
    transition-transform duration-300
    group-hover:translate-x-1">
  </i>

</a>

<a
  href="assets/Omar_Anwar_cv.pdf"
  target="_blank"
  class="group inline-flex items-center justify-center
  rounded-full 
  px-7 py-3
   border border-accent
  bg-gray-200  text-black
  font-semibold
  transition-all duration-300
  hover:scale-105">

  <i
    class="fa-solid fa-download me-2
    transition-transform duration-300
    group-hover:-translate-y-1
    group-hover:rotate-6">
  </i>

  {{ 'home.ctaCv' | translate }}

</a>

    </div>

  </section>

</div>
