<div class="text-foreground font-sans px-6 md:px-24">
  <section class="flex flex-col items-center space-y-4 mt-56 text-left header">
    <h2 class="text-xl md:text-4xl font-bold">
      Hey, I’m
      <span class="bg-accent px-3 py-1 rounded-full text-badge-on-accent inline-block"
        >Omar Alkerm</span
      >
    </h2>

    <h1 class="text-xl md:text-4xl md:font-bold">
      I Am Front end<span class="text-3xl md:text-6xl md:font-extrabold font-bold">  </span>
    </h1>
  </section>
</div>
